table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
     padding: left;
     border-bottom: 1px solid black;
}
tr:nth-child(even) {
    background-color:lightpink;
}
tr:hover {
    background-color:black;
}
